<div class="icon-list__item grid__item text-center two-eighths">
  {{ 'icon-plane.png' | asset_url | img_tag: 'Shipping', 'icon-list__image' }}
  <p class="icon-list__text">
    Free shipping worldwide
  </p>
</div>
<div class="icon-list__item grid__item text-center two-eighths">
  {{ 'icon-truck.png' | asset_url | img_tag: 'Shipping', 'icon-list__image' }}
  <p class="icon-list__text">
    Free returns worldwide
  </p>
</div>
<div class="icon-list__item grid__item text-center two-eighths">
  {{ 'icon-badge.png' | asset_url | img_tag: 'Shipping', 'icon-list__image' }}
  <p class="icon-list__text">
    24 month warranty
  </p>
</div>
<div class="icon-list__item grid__item text-center two-eighths">
  {{ 'icon-shield.png' | asset_url | img_tag: 'Shipping', 'icon-list__image' }}
  <p class="icon-list__text">
    100% secure checkout
  </p>
</div>
