<div class="product-info__title">
  <h3>{{ product.title }}</h3>
</div>
<div class="product-rating">
  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
</div>
<div class="product-price">
  {% include 'product-page-price' %}
</div>
<div class="product-short-description">
  {{ product.description | truncatewords: '15', "&hellip;" }}
</div>
{% include 'product-page-form' %}
{% if section.settings.display_icons %}
  {% include 'product-icons' %}
{% endif %}
