/*============================================================================
  # Basic styles
==============================================================================*/

html {
  background-color: $color-bg;
  height: 100%;
}

body {
  background-color: $color-bg;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
}

[tabindex='-1']:focus {
  outline: none;
}

.page-width {
  @include clearfix();
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 ($gutter / 4);

  @include at-query ($min, $medium) {
    padding: 0 $gutter;
  }
}

@include at-query ($min, $large) {
  .page-width--large {
    max-width: $site-width;
    margin: 0 auto;
    padding: $gutter;
  }
  .page-width--large--important {
    max-width: $site-width !important;
    margin: 0 auto !important;
    padding: $gutter !important;
  }
}

.standard-page {
  padding: $gutter;
}
.standard-page__title {
  @extend .h2;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  padding-bottom: ($gutter / 3);
}
.page--empty {
  padding: ($gutter * 3) $gutter $gutter;
  text-align: center;
  p {
    color: $color-pale;
  }
  .h3 {
    margin-bottom: $gutter;
  }
}
/*================ Desktop Version ================*/
@include at-query($min, $large) {
  .standard-page {
    @extend .page-width--large--important;
  }
  .standard-page__title {
    text-align: left;
  }
  .page--empty {
    padding: ($gutter * 5) $gutter $gutter;
    .h3 {
      margin-bottom: $gutter * 2;
    }
  }
}

.normal-section-padding {
  padding: 0 $gutter $gutter;
}

.section-heading {
  margin-bottom: $gutter / 3 * 2;
}

// Fixed Header

@mixin fixed-header() {
  &>header {
    position: fixed;
    width: 100%;
    z-index: $z-index-toolbar;
  }
}
body.fixed-header--all, {
  @include fixed-header;
}
@include at-query($max, $pre-large) {
  body.fixed-header--mobile {
    @include fixed-header;
  }
  body.fixed-header--all,
  body.fixed-header--mobile {
    .main-content {
      padding-top: $header-height-mobile;
    }
  }
}
@include at-query($min, $large) {
  body.fixed-header--desktop {
    @include fixed-header;
  }
  body.fixed-header--all,
  body.fixed-header--desktop {
    .drawer {
      position: fixed;
    }
    .main-content {
      padding-top: $topbar-height + $header-height;
    }
  }
}


/*============================================================================
  #Rich Text Editor
==============================================================================*/
.rte {
  margin-bottom: $gutter / 2;

  a {
    text-decoration: underline;
  }

  // Add some top margin to headers from the rich text editor
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }

    a {
      text-decoration: none;
    }
  }

  > div {
    margin-bottom: $gutter / 2;
  }

  li {
    margin-bottom: 0.4em;
  }
}

.rte--header {
  margin-bottom: 0;
}

/*============================================================================
  #Links and Buttons
==============================================================================*/
a,
.text-link {
  color: $color-link;
  text-decoration: none;
  background: transparent;
}

a:hover,
a:focus {
  color: $color-link-hover;
}

button {
  overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.btn,
.rte .btn {
  display: inline-block;
  padding: 15px 30px;
  width: auto;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid $color-btn-primary-text;
  @include user-select(none);
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: $radius;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.2s ease;

  /*================ Set primary button colors - can override later ================*/
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;

  &:hover {
    background-color: $color-btn-primary-hover;
    color: $color-btn-primary-text;
    box-shadow: 0px 5px 31px -1px rgba(0, 0, 0, 0.15);
  }

  &:active,
  &:focus {
   background-color: $color-btn-primary-active;
   color: $color-btn-primary-text;
  }

  &[disabled],
  &.disabled {
    cursor: default;
    color: $disabled-border;
    background-color: $disabled-grey !important;
    &:hover {
      color: $disabled-border;
    }
  }
}

.btn--secondary,
.rte .btn--secondary {
  @extend .btn;
  background-color: $color-btn-secondary;

  &:hover {
    background-color: $color-btn-secondary-hover;
    color: $color-btn-secondary-text;
  }

  &:active,
  &:focus {
   background-color: $color-btn-secondary-active;
   color: $color-btn-secondary-text;
  }
}

.btn--special,
.rte .btn--special {
  @extend .btn;
  background-color: $color-btn-special;
  border-radius: 0;
  border: none;
  color: $color-btn-special-text;

  &:hover {
    background-color: $color-btn-special-hover;
    color: $color-btn-special-text;
  }

  &:active,
  &:focus {
   background-color: $color-btn-special-active;
   color: $color-btn-special-text;
  }
}

.btn--small {
  padding: 4px 5px;
  font-size: rem(12px);
}

.btn--large {
  padding: 12px 30px;
  font-size: rem(16px);
}

.btn--full {
  width: 100%;
}

/*================ Force an input/button to look like a text link ================*/
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

/*============================================================================
  #Lists
==============================================================================*/
ul, ol {
  margin: 0 0 ($gutter / 2) 20px;
  padding: 0;
}

ol { list-style: decimal; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 20px; }
li { margin-bottom: 0.25em; }

ul.square { list-style: square outside; }
ul.disc { list-style: disc outside; }
ol.alpha { list-style: lower-alpha outside; }

.no-bullets {
  list-style: none outside;
  margin-left: 0;
}

.inline-list {
  margin-left: 0;

  li {
    display: inline-block;
    margin-bottom: 0;
  }
}

.comma-list {
  @extend .inline-list;
  margin: 0;
  .comma-list__item:not(:last-child) {
    &::after {
      content: ",";
    }
  }
}

/*============================================================================
  #Tables
==============================================================================*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.full {
  width: 100%;
  margin-bottom: 1em;
}

.table-wrap {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

th {
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: $gutter / 2;
  border: 1px solid $color-border;
}

/*============================================================================
  Responsive tables, defined with .table--responsive on table element.
  Only defined for IE9+
==============================================================================*/
.table--responsive {
  @include at-query($max, $small) {
    thead {
      display: none;
    }

    tr {
      display: block;
    }

    // IE9 table layout fixes
    tr,
    td {
      float: left;
      clear: both;
      width: 100%;
    }

    th,
    td {
      display: block;
      text-align: right;
      padding: 15px;
    }

    td:before {
      content: attr(data-label);
      float: left;
      text-align: center;
      font-size: 12px;
      padding-right: 10px;
    }

    &.cart-table {
      img {
        margin: 0 auto;
      }

      .js-qty {
        float: right;
      }
    }
  }
}

@include at-query($max, $small) {
  .table--small-hide {
    display: none !important;
  }

  .table__section + .table__section {
    position: relative;
    margin-top: 10px;
    padding-top: 15px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      border-bottom: 1px solid $color-border;
    }
  }
}


/*============================================================================
  #OOCSS Media Object
    - http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
==============================================================================*/
.media,
.media-flex {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media-img {
  float: left;
  margin-right: $gutter;
}

.media-img-right {
  float: right;
  margin-left: $gutter;
}

.media-img img,
.media-img-right img {
  display: block;
}


/*============================================================================
  #Images and Iframes
==============================================================================*/
img {
  border: 0 none;
}

svg:not(:root) {
  overflow: hidden;
}

img,
iframe {
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.alert-info {
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
}

.social-sharing {
  margin-top: $gutter / 2;
  margin-left: 5px;
  .social-sharing__icon {
    padding-right: 10px;
  }
}
