/*============================================================================
  #Mobile Nav
  - List of items inside the mobile drawer
==============================================================================*/
$mm-menu-base-margin: 20px;

.mm-menu {
  background: $color-drawers;
  border-color: $color-drawer-border;
  color: $color-drawer-text;

  .mm-panels{
    &>.mm-panel {
      padding: 0;
      &>.mm-listview {
        margin: $mm-menu-base-margin 0 0 0;
      }
    }
  }

  .mm-panels {
    .mm-navbar {
      background-color: #f6f6f6;
    }
  }

  .mm-listview {
    li {
      height: $header-height-mobile;
      &:not(.mm-divider):after {
        left: $gutter / 2;
        right: $gutter / 2;
      }
      a, span {
        font-size: $font-size-base;
        font-weight: bold;
        padding: 15px 10px 10px $mm-menu-base-margin
      }
    }
  }

}