/*================ Content Section ================*/

.section-content {

  .custom__item-content--text {
    @extend .normal-section-padding;
    .custom__item-heading,
    .custom__item-text {
      margin-bottom: $gutter;
    }
    @include at-query($min, $medium) {
      margin-left: $gutter * 2;
      margin-right: $gutter * 2;
    }
  }

  .custom__item-content--image {
    img {
      width: 100%;
      margin-bottom: -6px;
    }
  }
}