/*================ Featured Products Section ================*/

.section-featured-products {
  .product-list {
    .slick-list {
      margin-left: -5px;
    }
  }
  .product-list__item {
    margin-left: 5px;
  }
  @include at-query($min, $medium) {
    padding: 0 $gutter $gutter;
  }
}

.slider {
  &:not(.slick-initialized) {
    .product-list__item:nth-child(1n+2) {
      display: none;
    }
  }
}
