.content-deal-of-the-day {
  height: 100%;
  float: right;
  padding: 0px 12px;
  overflow: hidden;

  border-left: solid 1px rgba(0, 0, 0, 0.2);
  border-right: solid 1px rgba(0, 0, 0, 0.2);

  &.mobile-small{
    text-align: center;

    width: 100%;
    visibility: hidden;
    border: none;
    height: 0;
    @include at-query($max, $medium) {
      height: auto;
      visibility: visible;
      border-top: solid 1px rgba(0, 0, 0, 0.1);

      .wrapper{
        overflow: hidden;
        margin: auto;
        display: table;
        .content-product-img {
          img {
            margin-top: 2px;
          }
        }
      }
    }


  }
  &.mobile-medium{
    position: absolute;
    right: 0;
    top: 0px;
    width: 100px;
    border: none !important;
    z-index: 0;
    padding: 0;
    margin: 0;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    height: 0;
    visibility: hidden;
    text-align: center;

    @include at-query($max, $large) {
      height: 55px;
      visibility: visible;
    }
    @include at-query($max, $medium) {
      height: 0;
      visibility: hidden;
    }


    .content-product-img{
      margin: auto;
      height: 100%;
      display: table;
      float: none;
      position: relative;

      .product-image{
        height: 39px;
        margin-top: 2px;
      }
    }

    .countdown{
      color: $color-special;
      position: absolute;
      right: 15px;
      font-weight: 900;
      font-size: 17px;
      top: 30px;
    }

    .discount-percentage{
      font-weight: 900;
      font-size: 12px;
      position: absolute;
      right: 14px;
      z-index: 1;
    }
  }




  h2, p {
    line-height: 18px;
    letter-spacing: -1px;
    margin: 0;
    font-weight: 600;
    text-align: left;

  }

  .content-countdown {
    height: 100%;
    float: left;
    padding: 10px 0px;

    .countdown {
      color: $color-special;
    }
    h2 {
      font-size: 15px;
    }
  }
  .content-product-img {
    height: 100%;
    float: left;

    position: relative;
    img {
      height: 55px;

    }
    .discount-percentage{
      font-weight: 900;
      font-size: 13px;
      top:2px;
      position: absolute;
      right: 14px;
    }
  }
  .content-price {
    text-align: left;
    height: 100%;
    float: left;
    padding: 10px 0px;

    p {
      font-size: 17px;
    }

    .compared_at {
      text-decoration: line-through;
    }
    .price {
      color: $color-special;
    }

  }
  /*================ Desktop Version ================*/
  @include at-query($min, $large) {
    .content-countdown {
      h2 {
        color: $color-menu;
      }
    }
    .content-price {
      .compared_at {
        color: $color-menu;
      }
    }
  }

}