
<div class="standard-page">

  <div class="grid grid--uniform">
    <div class="grid__item one-whole large--one-third push--large--one-third">

      <h1 class="standard-page__title text-center">{{ 'general.404.title' | t }}</h1>
      <p class="text-center">{{ 'general.404.subtext' | t }}</p>
      <p><a href="/" class="btn btn--full btn--special">{{ 'general.404.link' | t }}</a></p>

    </div>
  </div>
</div>
