<div class="product-form__cart product-form__cart--sticky large--hide">
  <button  class="btn btn--special btn--full product-form__cart-submit">
    <span>{{ 'products.product.add_to_cart' | t }}</span>
  </button>
</div>
