<!-- menu link list -->
  <h3 class="collection-menu">{{section.settings.custom_menu_title}}</h3>
  {% if section.settings.menu.size > 0 %}
    <ul class="no-bullets menu-before-sorting">
      {% for link in linklists[section.settings.menu].links %}
        <li class="">
        <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
<!-- menu link list -->