{%- assign limit = 8 -%}

{% paginate collection.products by limit %}

  <div class="collection-template">
    <header class="page-header">
      {% if section.settings.breadcrumbs %}
        {% include 'breadcrumb' %}
      {% else %}
        <h2 class="page-header__title">{{ collection.title }}</h2>
      {% endif %}
    </header>

    <div class="collection-controls grid--full">
      <div class="grid__item one-half">
        {% include 'collection-filters' %}
      </div>
      <div class="grid__item one-half">
        {% include 'collection-sorting' %}
      </div>
    </div>

    <div class="grid--full grid--uniform product-list">
      {%- assign btn_action = section.settings.product_btn_action -%}
      {%- assign btn_text = section.settings.product_btn_text -%}
      {%- assign fade_out_title = section.settings.fade_out_title -%}
      {% for product in collection.products %}
        <div class="grid__item one-half">
          <div class="product-list__item">
            {% include 'product-card' %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

  </div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection page",
    "settings": [
      {
        "type": "checkbox",
        "id": "breadcrumbs",
        "label": "Display breadcrumbs",
        "default": true
      },
      {
        "type": "select",
        "id": "product_btn_action",
        "label": "Product button action",
        "options": [
          {
            "value": "none",
            "label": "None (hide button)"
          },
          {
            "value": "add_to_cart",
            "label": "Add to cart"
          },
          {
            "value": "product_page",
            "label": "Product page"
          }
        ],
        "default": "add_to_cart"
      },
      {
        "type": "text",
        "id": "product_btn_text",
        "label": "Product button text",
        "default": "Add to Cart"
      },
      {
        "type": "checkbox",
        "id": "fade_out_title",
        "label": "Hide long product title",
        "info": "Use fade out effect for text that doesn't fit so product cards have equal height",
        "default": false
      }
    ]
  }
{% endschema %}
