{% if section.settings.title != blank %}
  <h2 class="text-center section-heading">{{ section.settings.title | escape }}</h2>
{% endif %}

{% include 'newsletter-form' %}

{% schema %}
  {
    "name": "Newsletter",
    "class": "section-newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Subscribe to Our Newsletter"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "SUBSCRIBE"
      },
      {
        "type": "paragraph",
        "content": "To set up MailChimp go to General Settings > Newsletter"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Misc"
      }
    ]
  }
{% endschema %}
