{% if section.settings.message %}
  <div class="section-topbar__message">
    {{ section.settings.message_text | escape }}
    {% if section.settings.message_link != blank %}
      <a href="{{ section.settings.message_link }}" class="section-topbar__button">
        {{ section.settings.message_link_text }}
      </a>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Topbar",
    "class": "section-topbar",
    "settings": [
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show message",
        "default": false,
        "info": "You can use this text for important announcements"
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Message text"
      },
      {
        "type": "text",
        "id": "message_link_text",
        "label": "Call to action button text",
        "info": "Optional"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Call to action link"
      }
    ]
  }
{% endschema %}
