/*================ Cart Template ================*/

$cart-primary-color: lighten($color-text-body, 15%);
$cart-secondary-color: $color-pale;

.cart-template {
}
.cart-widget {
  margin-left: $drawer-padding * -1;
  margin-right: $drawer-padding * -1;
}
.cart-table {
  tr {
    border-bottom: 1px solid $color-border;
    th, td {
      border: none;
      padding: 0;
    }
  }
  .cart-table__image {
    padding: ($gutter / 2) 0 0 ($gutter / 2);
    width: 25%;
  }
  .cart-table__details {
    padding: ($gutter / 2);
    padding-right: ($gutter / 4);
    width: 50%;
    small, p {
      color: $cart-secondary-color;
    }
    .cart-table__item-title {
      color: $cart-primary-color;
      font-family: $font-stack-heading;
      font-weight: bold;
    }
    .cart-table__item-controls {
      padding-top: 10px;
      width: 155px;
      .cart__remove {
        float: right;
        padding-top: 5px;
      }
    }
    .js-qty, .ajaxcart__qty {
      border: 1px solid #efefef;
      text-align: center;
      width: 115px;
      .js-qty__num, .ajaxcart__qty-num {
        border: 1px solid #efefef;
        border-top: none;
        border-bottom: none;
        border-radius: 0;
        box-sizing: border-box;
        color: $cart-secondary-color;
        height: 30px;
        margin: 0;
        text-align: center;
        width: 40px;
      }
      button {
        border: none;
        color: $cart-secondary-color;
        height: 30px;
        width: 30px;
      }
    }
  }
  .cart-table__summary {
    text-align: center;
    width: 25%;
    .money {
      color: $cart-secondary-color;
    }
  }
}
.cart-summary {
  margin: $gutter;
  .grid--full {
    border-bottom: 1px solid $color-border;
    padding: 0 10px;
  }
  .cart-summary__subtotal-title {
    color: $cart-primary-color;
    font-family: $font-stack-heading;
  }
  .cart-summary__subtotal {
    color: $color-special;
    text-align: right;
  }
  &.cart-summary--desktop {
    display: none;
  }
}
.cart-shipping-notice {
  color: $cart-secondary-color;
  text-align: center;
  @include at-query($max, $xsmall) {
    font-size: 14px;
  }
}
.cart__update {
  text-align: center;
  button {
    color: $cart-primary-color;
    .icon {
      font-size: 0.85rem;
      margin-right: 5px;
    }
  }
}
.cart__savings {
  font-size: 1rem;
  color: $cart-primary-color;
  font-weight: normal;
  padding-top: 5px;
  text-align: right;
  margin: -1rem $gutter 2rem;
}
.cart__checkout-btn {
  text-transform: uppercase;
  padding: 20px;
}
.cart--empty {
  padding: ($gutter * 4) $gutter 10px;
  text-align: center;
  p {
    color: $cart-primary-color;
  }
  .h3 {
    margin-bottom: $gutter;
  }
}
.cart-shipping-notice {
  margin: 0 0 $gutter;
  label {
    color: $cart-secondary-color;
  }
  textarea {
    min-height: 3.5rem;
  }
}


  /*================ Desktop Version ================*/
  @include at-query($min, $large) {
    .cart-template {
      table.cart-table {
        &.full {
          margin: 0 auto;
          width: 80%;
        }
      }
      .cart-summary__wrapper {
        border: 1px solid $color-border;
        border-radius: $radius;
        margin: ($gutter) auto;
        padding: $gutter / 2;
        width: 75%;
      }
      .cart-summary {
        margin: 0;
        .cart-summary__subtotal-title {
          text-transform: uppercase;
        }
        .cart-summary__subtotal {
          color: $color-primary;
          margin-bottom: 1rem;
        }
        .cart-summary__note {

        }
        &.cart-summary--desktop {
          display: block;
        }
        &.cart-summary--mobile {
          display: none;
        }
        .grid--full {
          padding: 0;
        }
      }
      .cart-shipping-notice {
        margin: 1rem 0;
      }
      .cart--empty {
        padding: ($gutter * 5) $gutter $gutter;
        .h3 {
          margin-bottom: $gutter * 2;
        }
      }
    }
  }