/*================ Collection Template ================*/

.collection-template {
  .collection-controls {
    select {
      @include konversion-input();
      &:not(#SortBy) {
        border-left: none;
        border-right: none;
      }
      &#SortBy {
        border-right: none;
      }
    }
  }
  .product-list {
    &>.grid__item {
      margin-bottom: ($gutter / 4);
    }
    .product-list__item {
      margin: 0;
    }
  }
}