.standard-page {
  padding: $gutter;
}
.standard-page__title {
  @extend .h2;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  padding-bottom: ($gutter / 3);
}

.contact-page {
  .contact-form {
    .contact-form__submit {
      margin: 1rem auto;
    }
  }
  .map {
    margin-bottom: $gutter;
  }
  .map__title {
    @extend .standard-page__title;
  }
}