/*================ Product Template ================*/

@mixin product-template-subsection-title() {
  font-size: 1.5rem;
  margin: 0 0 ($gutter / 2) 0;
  text-transform: uppercase;
  text-align: center;
}

@mixin zoom-icon() {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #f6f6f6;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  content: "\e903";
  color: #a1a1a1;
  font-family: $social-icon-font-stack;
  font-size: 20px;
  height: 35px;
  opacity: 0.6;
  text-align: center;
  width: 35px;
}

@include at-query ($max, $small) {
  body.template-product {
    // prevent sticky button to block the bottom of the page
    margin-bottom: 70px
  }
}

.product-template {
  .product-images {
    ul {
      margin-bottom: 0;
    }
    margin-bottom: 5px;
    .product-images__thumbs {
      ul {
        margin-right: $gutter / 4;
        li {
          margin-bottom: 5px;
        }
      }
      img {
        margin: 0 auto;
      }
      .slick-slide {
        &.slick-current {
          img {
            // TODO: fix initial offset when more than 4 slides
            border: 2px solid $color-border;
            box-sizing: border-box;
          }
        }
        &:not(.slick-current) {
          .thumb-overlay {
            position: relative;
            @include overlay(6, $color-image-overlay, 0.1);
          }
        }
      }
    }
    .product-images__image {
      // Display only first slide before slick initialized
      ul:not(.slick-initialized) > li:not(:first-child) {
        display: none;
      }
      // Zoom icon
      .slick-slide {
        &::before {
          @include zoom-icon();
        }
      }
    }
    &.product-images--single .product-images__image {
      &::before {
        @include zoom-icon();
      }
    }
  }

  .product-info {
    .product-info__title {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
    .product-price {
      font-family: $font-stack-heading;
      float: right;
      padding-left: 10px;
      text-align: right;
      .product-price__price {
        color: $color-special;
        font-size: 1.8rem;
        line-height: 2rem;
        font-weight: bold;
      }
      .product-price__percent {
        color: $color-discount;
        font-size: 1.1rem;
        font-weight: bold;
      }
      .product-price__old {
        font-size: 1.1rem;
        color: $color-meta-text;
      }
    }
    .spr-badge {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }

  .product-info__description {
    position: relative;
    overflow: hidden;
    // transition: all 0.5s;
    // Fade out truncated text
    &.product-info__description--shrunk:after {
      content: "";
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 45%;
      bottom: 0; right: 0;

      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
  }
  .product-info__more {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  .product-form {
    margin-bottom: $gutter;
  }

  .product-form__variants {
    .no-js & {
      display: block;
    }
  }

  .product-options {
    .selector-wrapper {
      label {
        display: block;
      }
      .product-form__input {
        @include konversion-input();
      }
    }
    .product-form__item--first .product-form__input {
      border-left: none;
      border-right: none;
    }
    .product-form__item--last .product-form__input {
      border-right: none;
    }
  }

  .js-qty {
    button {
      display: none;
    }
    .js-qty__num {
      @include konversion-input();
    }
  }

  .related-products {
    margin-bottom: $gutter;
    .grid--full {
      margin-left: -5px;
      &>.grid__item {
        padding-left: 5px;
        margin-bottom: ($gutter / 4);
      }
    }
  }
  .related-products__title, .spr-header-title {
    @include product-template-subsection-title();
  }

  .product-icons {
    .product-icons__icon {
      text-align: center;
      font-size: 0.9rem;
    }
    .variant-qty {
      color: $error-red;
    }
  }
}

.product-form__cart {
  .product-form__cart-submit {
    text-transform: uppercase;
    font-family: $font-stack-heading;
  }
}

@include at-query ($max, $small) {
  .product-form__cart {
    // don't display in-page add to cart in mobile version
    .product-template & {
      margin-left: ($gutter / -4);
      margin-right: ($gutter / -4);
    }
    .product-form__cart-submit {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}

// Add To Cart button (mobile)
.product-form__cart--sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s;
  height: 0;
  &.stuck {
    height: 70px;
  }
}
