/*================ Product Template ================*/

.product-template {
  .product-images {
    ul {
      margin-bottom: 0;
    }
  }
  .product-images__thumbs {
    ul {
      margin-right: $gutter / 4;
      li {
        margin-bottom: 5px;
      }
    }
    .slick-slide {
      &.slick-current {
        img {
          // TODO: fix initial offset when more than 4 slides
          border: 2px solid $color-border;
          box-sizing: border-box;
        }
      }
      &:not(.slick-current) {
        .thumb-overlay {
          position: relative;
          @include overlay(5);
        }
      }
    }
  }
  .product-images__image {
    // Display only first slide before slick initialized
    ul:not(.slick-initialized) > li:not(:first-child) {
      display: none;
    }
  }
  .product-info {
    h3 {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
    .product-info__price {
      font-size: 1.2rem;
      font-family: $font-stack-heading;
    }
    .product-price__price {
      color: $color-special;
      font-size: 1.3rem;
      line-height: 1.8rem;
      font-weight: bold;
    }
    .product-price__percent {
      color: $color-discount;
      font-weight: bold;
    }
    .product-price__old {
      color: $color-meta-text;
    }
    .product-info__price {
      float: right;
    }
  }

  .product-form__variants {
    display: none;

    .no-js & {
      display: block;
    }
  }
}

.product-form__cart {
  .product-form__cart-submit {
    text-transform: uppercase;
    font-family: $font-stack-heading;
  }
}

@include at-query ($max, $small) {
  .product-form__cart {
    // don't display in-page add to cart in mobile version
    .product-template & {
      margin-left: ($gutter / -4);
      margin-right: ($gutter / -4);
    }
    .product-form__cart-submit {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}

// Add To Cart button (mobile)
.product-form__cart--sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}
